:root {
--primary-color: #F9EFEC;
--secondary-color: #B3B3B2;
--background-color:#1A1A1A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
      font-family: "Roboto Flex", sans-serif;
      background-color: #0f0f0f;
}
.container{
    margin: 0 50px;
}