.cta{
    margin-top: 120px;
}
.cta-inner{
    background-color: #CE7D63;
    border-radius: 20px;
    padding: 80px;
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: space-between;
}
.cta-title{
    color: #0f0f0f;
    font-weight: 500;
    font-size: 58px;
}
.cta-desc{
    margin-top: 5px;
    color: #262626;
    line-height: 150%;
    font-size: 18px;
    font-weight: normal;
}
.cta-btn{
    border-radius: 12px;
    padding: 18px 34px;
    background-color: #0F0F0F;
    display: flex;
    gap:15px;
    color: #F3DFD8;
    font-weight: 500;
    font-size: 18px;
    border:none;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
}
/* tablet */
@media screen and (min-width:768px) and (max-width:991.98px){
    .cta{
        margin-top: 80px;
    }
    .cta-inner{
        padding: 40px 32px;
        gap: 80px;
    }
    .cta-title{
        font-size: 40px;
    }
    .cta-desc{
        font-size: 16px;
    }
    .cta-btn{
        padding: 14px 22px;
        font-size: 16px;
    }
}