.reason{
    margin-top: 120px;
    border-radius: 24px;
    border: 2px solid #1f1f1f;
    padding: 20px;
    gap:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-grid{
    display: flex;
    gap:20px;
    flex-wrap: wrap;

}
.card{
    border-radius: 7px;
    background-color: var(--background-color);
    width: calc((100% - 20px * 3) / 4);
    padding: 40px;
    gap:40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap:12px;
    flex: 1;
    width: 100%;
}
.card-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--primary-color);
    text-transform: uppercase;
    height: 90px;
}
.card-desc{
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B2;
}
/* tablet */
@media screen and (min-width:768px) and (max-width:991.98px){
.section-title{
    font-size: 16px;

}
.section-header{
    padding: 30px 30px 30px 30px;
    border-radius: 8px;
}
.card{
    padding: 20px;
}
.card-title {
    font-weight: 500;
    font-size: 9px;
    height: auto;
}
.card-content{
    gap: 0;
}
.card-desc {
font-size: 7px;
}
.card{
    gap:10px;
}
.text-side-btn{
    font-size: 7px;
}
.card-grid{
    gap: 5px;
}
.card{
    width: calc((100% - 5px * 3) / 4);
}
.reason{
    gap:5px;
    padding: 5px;
    margin-top: 60px;
    border-radius: 12px;
}
}
@media screen and (max-width:767.98px){
    .reason{
        margin-top: 50px;
        padding: 10px;
        gap: 15px;
    }
.section-header{
padding: 30px;
border-radius: 10px;
}
.section-title{
    font-size: 24px;
    line-height: 1.4;
}
.card{
    width: 100%;
    padding: 30px;
    gap: 20px;
}
.card-title{
    font-size: 17px;
    height: auto;
}
.reason .card-desc{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  font-size: 12px;
}
.reason .btn-arrow-top-right img{
    width: 14px;
    top:1px;
}
.reason .btn-arrow-top-right{
padding: 17px 19px;
}
.reason .text-side-btn{
    font-size: 15px;
}

}
@media screen and (min-width:992px) and (max-width:1199.98px) {
.section-header{
    padding: 50px 150px 50px 50px;
}
.section-title{
    line-height: 1.3;
}
.card{
    padding: 30px;
}
.card-title{
    font-size: 13px;
    height: auto;
}
.card-desc{
    font-size: 8px;
}
.text-side-btn{
    font-size: 13px;
}

}
@media screen and (min-width:1200px) and (max-width:1399.98px) {
.section-header{
    padding: 50px 150px 50px 50px;
}
.section-title{
    line-height: 1.3;
}
.card{
    padding: 30px;
}
.card-title{
    font-size: 17px;
    height: auto;
}
.card-desc{
    font-size: 12px;
}
.text-side-btn{
    font-size: 15px;
}

}
@media screen and (min-width:1400px) and (max-width:1599.98px) {
.card-title{
    font-size: 22px;
}
}