.text-side-btn-works{
    font-weight: 500;
    font-size: 20px;
}
.works{
    border-radius: 20px;
    border: 2px solid #1F1F1F;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.work-list{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.work-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work-info{
    background-color: var(--background-color);
    padding: 60px 40px;
    display: flex;
    gap:40px;
    flex-direction: column;
    border-radius: 14px;
    width: calc((100% - 20px * 2) / 3);
}
.work-info__header{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.work-title-wrap{
    display: flex;
    gap:12px;
    align-items: center;
}
.work-title-wrap-icon{
    border-radius: 12px;
    border: 1px solid #333333;
    padding: 16px;
}
.work-title{
    color: var(--primary-color);
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
}
.btn-arrow-top-right--works{
    background-color: #1f1f1f;
    border: 1px solid #333333;
    padding: 14px 16px;
}
.work-meta {

    display: flex;
    gap:12px;
    flex-direction: column;
}
.work-meta .tag{
    display: inline-flex;
    gap:8px;
    border-radius: 45px;
    background-color: #1F1F1F;
    padding: 10px 16px;
    width: fit-content;
}
.tag span:first-child{
    font-size: 18px;
    font-weight: 400;
    color: #B3B3B2;
}
.tag .dot{
    width: 4px;
    height: 4px;
    color: #CE7D63;
    margin-right: 4px;
}
.tag span:last-child{
    color: #E6E6E6;
    font-size: 18px;
    font-weight: 500;
}
.work-desc{
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: #B3B3B2;
}
.work-preview{
    width: calc((100% - 20px * 2) / 3);

}
.work-preview img{
    border-radius: 7px;
}
.work-preview img{
    width: 100%;
    height: 100%;
}
.work-extra{
    width: calc((100% - 20px * 2) / 3);
    display: flex;
    flex-direction: column;
    gap:20px;
}
.work-tech{
border-radius: 14px;
padding: 40px;
display: flex;
gap: 20px;
flex-direction: column;
background-color: var(--background-color);
}
.work-subtitle{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 150%;
}
.tag-list{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    width: 469px;

}
.tag-list .tag{
    border-radius: 45px;
    background-color: #1F1F1F;
    padding: 10px 16px;
    color: #E6E6E6;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.work-team{
    display: flex;
    background-color: var(--background-color);
    border-radius: 14px;
    padding: 20px 40px;
    gap:40px;
    align-items: center;
    justify-content: space-between;
}
.work-subtitle{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
.avatar-list{
    display: flex;
    align-items: center;
    gap:10px;
}
.btn-works{
    border-radius: 12px;
    padding: 20px 26px;
    background-color: #CE7D63;
    color: #0f0f0f;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    outline: none;
    border: none;
}
@media screen and (min-width:768px) and (max-width:991.98px){
.text-side-btn-works{
    font-size: 10px;
}
.works{
    padding: 5px;
    gap: 5px;
    border-radius: 10px;
}
.work-list{
    gap:5px;
}
.work-info{
padding: 20px 10px;
width: calc((100% - 5px * 2) / 3);
gap: 20px;
height: fit-content;
border-radius: 7px;
}
.work-title-wrap-icon{
    border-radius: 5px;
    padding: 2px;
}
.work-title-wrap-icon img{
    width: 24px;
}
.work-title{
    font-size: 8px;
}
.btn-arrow-top-right--works{
    padding: 2px 6px;
}
.tag .dot{
    font-size: 9px;
    position: relative;
    top:-2px;
}
.tag span:first-child {
font-size: 6px;
}
.tag span:last-child{
    font-size: 6px;
}
.work-desc{
    font-size: 7px;
}
.work-preview {
    width: calc((100% - 5px * 2) / 3);

}
.work-tech {
padding: 10px;
gap:5px;
border-radius: 7px;
}
.work-subtitle{
font-size: 7px;
}
.tag-list{
    width: 215px;
}
.tag-list .tag {
    border-radius: 17px;
    background-color: #1F1F1F;
    padding: 5px 5px;
    color: #E6E6E6;
    font-size: 7px;
    font-weight: 400;
    line-height: 150%;
}
.work-extra{
    gap: 5px;
    width: calc((100% - 5px * 2) / 3);

}
.work-team{
    padding: 10px;
    gap: 15px;
    border-radius: 7px;
}
.avatar-list{
    gap:5px;
}
.avatar-list img{
    width: 20px;
}
.btn-works {
    border-radius: 5px;
    padding: 14px 7px;
    font-size: 9px;

}
}
@media screen and (max-width:767.98px){
    .container-works{
        margin: 0 10px;
    }
.work-preview{
    width: 100%;
}
.work-preview img{
    border-radius: 14px;
    object-fit: cover;
    height: 190px;

}
.works{
    padding: 10px;
}
.work-list{
    gap: 10px;
}
.work-info{
    width: 100%;
    padding: 40px 30px;
    gap: 25px;
}
.work-title-wrap-icon{
    padding: 12px;
}
.work-title{
    font-size: 18px;
}.tag .dot{
    font-size: 7px;
}
.tag span:first-child{
    font-size: 8px;
}
.tag span:last-child{
    font-size: 8px;
}
.work-desc{
    font-size: 12px;
}
.btn-arrow-top-right img{
    width: 14px;
    top: 2px;
}
.btn-arrow-top-right--works{
    padding: 10px 12px;
}
.wrap-btn{
    justify-content: flex-start;
}
.text-side-btn-works{
    font-size: 16px;
}
.btn-show-more{
    background-color: #1A1A1A;
    border-radius: 12px;
    border:none;
    outline:none;
    padding: 20px 16px;
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
@media screen and (min-width:992px) and (max-width:1199.98px) {
.section-header{
    padding: 50px 75px 50px 50px;
}
.work-info{
    padding: 30px 20px;
    gap: 40px;
    height: fit-content;
}
.work-title-wrap-icon{
    padding: 6px;
    border-radius: 6px;
}
.work-title-wrap-icon img{
width: 18px;
}
.work-title{
    font-size: 14px;
}
.btn-arrow-top-right--works{
    padding: 5px 8px;
}
.btn-arrow-top-right--works img{
    width: 12px;
    position: relative;
    top: 1px;
}
.text-side-btn-works--details{
    font-size: 10px;
}
.tag .dot{
    font-size: 9px;
}
.tag span:first-child{
    font-size: 11px;
}
.tag span:last-child{
    font-size: 12px;
}
.work-desc{
    font-size: 17px;
}
.work-tech{
    padding: 30px;
}
.work-subtitle{
    font-size: 16px;
}
.tag-list{
    width: auto;
}
.tag-list .tag{
    font-size: 13px;
}
.work-team{
    padding: 20px;
    gap: 20px;
}
.work-meta .tag{
    padding: 15px;
}
.avatar-list img{
    width: 25px;
}
.work-extra{
    gap:10px
}
.btn-works{
    font-size: 14px;
}
}
@media screen and (min-width:1200px) and (max-width:1399.98px) {
.section-header{
    padding: 50px 75px 50px 50px;
}
.work-info{
    padding: 30px 20px;
    gap: 40px;
    height: fit-content;
}
.work-title-wrap-icon{
    padding: 8px;
    border-radius: 8px;
}
.work-title-wrap-icon img{
width: 30px;
}
.work-title{
    font-size: 13px;
}
.btn-arrow-top-right--works{
    padding: 5px 8px;
}
.btn-arrow-top-right--works img{
    width: 12px;
    position: relative;
    top: 1px;
}
.text-side-btn-works--details{
    font-size: 13px;
}
.tag .dot{
    font-size: 14px;
}
.tag span:first-child{
    font-size: 15px;
}
.tag span:last-child{
    font-size: 14px;
}
.work-desc{
    font-size: 16px;
}
.work-tech{
    padding: 30px;
}
.work-subtitle{
    font-size: 15px;
}
.tag-list{
    width: auto;
}
.tag-list .tag{
    font-size: 12px;
}
.work-team{
    padding: 20px;
    gap: 20px;
}
.work-meta .tag{
    padding: 16px;
}
.avatar-list img{
    width: 26px;
}
.work-extra{
    gap:10px
}
.btn-works{
    font-size: 16px;
}
}
@media screen and (min-width:1400px) and (max-width:1599.98px) {
.work-title{
    font-size: 15px;
}
.work-title-wrap-icon{
    padding: 10px;
}
.text-side-btn-works{
    font-size: 16px;
}
.work-subtitle{
    font-size: 15px;
}
.tag-list{
    width: 430px;
}
.tag-list .tag{
    padding: 10px 13px;
}
}