/* TITLE AREA */
.achievements-title {
  background: #141414;
  padding: 40px;
  width: 90%;
  margin: 0 auto 40px auto;
  border-radius: 16px;
}

.achievements-title h2 {
  font-size: 36px;
  font-weight: 700;
}

/* GRID */
.achievements-grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.achieve-card {
  background: #161616;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #242424;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.date {
  font-size: 14px;
  color: #b5b5b5;
  letter-spacing: 1px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.desc {
  color: #c9c9c9;
  line-height: 1.6;
  font-size: 15px;
}





