.awards-section {
  max-width: 1400px;
  margin: 40px auto;
  padding: 20px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.awards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.award-card {
  background: #171717;
  padding: 28px;
  border-radius: 14px;
  border: 1px solid #222;
  transition: 0.3s;
}

.award-card:hover {
  transform: translateY(-6px);
  border-color: #333;
}

.award-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.date {
  font-size: 15px;
  color: #ccc;
}

.icon {
  background: #222;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.award-name {
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 1.3;
}

.award-desc {
  color: #c9c9c9;
  line-height: 1.6;
  font-size: 15px;
}
