.faq-section {
    padding: 60px 40px;
    max-width: 1600px;
    margin: auto;
}

/* Header */
.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.faq-header h2 {
    font-size: 38px;
}

.view-all {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.view-all:hover {
    opacity: 1;
}

.view-all span {
    font-size: 20px;
}

/* Layout 2 cá»™t */
.faq-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

/* LEFT: FAQ list */
.faq-left .faq-item {
    background: #161616;
    border: 1px solid #2a2a2a;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 18px;
    transition: 0.3s;
}

.faq-left .faq-item:hover {
    border-color: #444;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    font-size: 18px;
    font-weight: 500;
}

.toggle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1d1d1d;
    border: 1px solid #3a3a3a;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.toggle-btn:hover {
    background: #fff;
    color: #000;
}

.faq-item.open .faq-answer {
    margin-top: 15px;
    opacity: 0.85;
    line-height: 1.5;
}

.faq-answer {
    display: block;
}

/* RIGHT: Form */

.faq-right {
    background: #161616;
    border: 1px solid #2a2a2a;
    border-radius: 12px;
    padding: 46px;
}

.faq-right h3 {
    margin-bottom: 25px;
}

.faq-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.faq-form label {
    font-size: 13px;
    opacity: 0.8;
}

.faq-form input,
.faq-form textarea {
    width: 100%;
    background: #0d0d0d;
    border: 1px solid #2b2b2b;
    color: #fff;
    padding: 14px;
    border-radius: 8px;
    font-size: 15px;
}

textarea {
    height: 120px;
}

.send-btn {
    margin-top: 15px;
    padding: 15px;
    background: #dd8664;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

.send-btn:hover {
    opacity: 0.9;
}
