* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: #111;
  color: #eee;
  line-height: 1.6;
}

.container_1 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {

  background: #1a1a1a;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  color: #ccc;
  margin-left: 20px;
  text-decoration: none;
}


.btn {
  background: #e49b72;
  padding: 10px 20px;
  border-radius: 6px;
  color: #111;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#menu-toggle {
  display: none;
}
@media (max-width: 768px) {

  .header {
    padding: 12px 0;
  }

  .header-inner {
    background: #161616;
    padding: 14px 18px;
    border-radius: 14px;
  }

  /* LOGO */
  .logo {
    font-size: 20px;
  }

  /* HAMBURGER */
  .menu-btn {
    width: 36px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu-btn span {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
  }

  /* NAV MOBILE */
  .nav {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    background: #161616;
    border-radius: 14px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #2a2a2a;
  }

  .nav a {
    margin: 0;
    font-size: 16px;
  }

  .nav .btn {
    text-align: center;
  }

  /* TOGGLE MENU */
  #menu-toggle:checked ~ .nav {
    display: flex;
  }
}

