* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: #111;
  color: #eee;
  line-height: 1.6;
}

.container_1 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {
  background: #1a1a1a;
  padding: 20px 0;
  position: sticky;
  top: 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  color: #ccc;
  margin-left: 20px;
  text-decoration: none;
}


.btn {
  background: #e49b72;
  padding: 10px 20px;
  border-radius: 6px;
  color: #111;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
