/* HERO */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px;
  gap: 40px;
}

/* NEW: WRAPPER BOX */
.box-wrapper {
   border: 2px solid #1a1a1a;
  padding: 40px;
  border-radius: 16px;
  background: #0d0d0d;
  display: flex;
}
/* BOX TRÁI */
.box-wrapper:first-child {
  flex: 1.5;
}

/* BOX PHẢI */
.box-wrapper:last-child {
  flex: 1; 
}
/* LEFT TEXT BLOCK */
.hero-left .title {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.2;
}

.start-btn {
  margin-top: 40px;
  padding: 14px 24px;
  font-size: 18px;
  border: none;
  background: none;
  color: #e9957e;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.start-btn .circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid #e9957e;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RIGHT SIDE */
.hero-right {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.stat-box {
  background: #121212;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.stat-box .label {
  color: #bbbbbb;
  letter-spacing: 1px;
  font-size: 14px;
}

.stat-box .value {
  color: #e9957e;
  font-size: 42px;
  font-weight: 600;
}

.know-btn {
  margin-top: 20px;   
  padding: 12px 18px;
  background: none;
  border: none;
  color: #e9957e;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.know-btn .arrow {
  font-size: 22px;
  padding: 6px 10px;
  border-radius: 50%;
  border: 2px solid #e9957e;
}