/* HERO */

.hero {
  /* display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 100px;
  gap: 40px;
  display: flex;
  padding: 120px 20px; */

  display: flex;
  gap: 40px;
  padding: 120px 20px;
}

/* NEW: WRAPPER BOX */
.box-wrapper {
  /* border: 2px solid #1a1a1a;
  padding: 40px;
  border-radius: 16px;
  background: #0d0d0d;
  display: flex;
  width: 99%;
  flex: 1;    */

  border: 2px solid #1a1a1a;
  padding: 40px;
  border-radius: 16px;
  background: #0d0d0d;

  display: flex;
  flex: 1; 
}

/* LEFT TEXT BLOCK */
.hero-left .title {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.2;
}

.start-btn {
  margin-top: 40px;
  padding: 14px 24px;
  font-size: 18px;
  border: none;
  background: none;
  color: #e9957e;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.start-btn .circle {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid #e9957e;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RIGHT SIDE */
.hero-right {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.stat-box {
  background: #121212;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.stat-box .label {
  color: #bbbbbb;
  letter-spacing: 1px;
  font-size: 14px;
}

.stat-box .value {
  color: #e9957e;
  font-size: 42px;
  font-weight: 600;
}

.know-btn {
  margin-top: 20px;   
  padding: 12px 18px;
  background: none;
  border: none;
  color: #e9957e;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.know-btn .arrow {
  font-size: 22px;
  padding: 6px 10px;
  border-radius: 50%;
  border: 2px solid #e9957e;
}

.hero,
.team-section,
.achievements,
.awards-section,
.testimonials-section,
.faq-section {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    text-align: center;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}
