/* SECTION WRAPPER */
.team-section {
  /* background: #111;
  padding: 20px 20px;
  
  margin-top: -40px;
  border-radius: 20px;
  border: 2px solid #1b1b1b; */
    max-width: 1500px;      /* giống awards */
  margin: 40px auto;
  padding: 60px 40px;     /* giống awards */

}


/* HEADER */
.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.team-header h2 {
  font-size: 32px;
  font-weight: 700;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ALL MEMBERS BUTTON */
.all-members-btn {
  background: none;
  border: 1px solid #333;
  color: #ccc;
  padding: 12px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  cursor: pointer;
}

.all-members-btn .arrow {
  font-size: 22px;
}

/* GRID */
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.team-card {
  background: #181818;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  border: 1px solid #222;
}

.name {
  font-size: 20px;
  margin-bottom: 6px;
}

.role {
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 20px;
}

.img-box img {
  width: 150px;
  height: auto;
  padding: 20px 0;
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.icon {
  width: 38px;
  height: 38px;
  border: 1px solid #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .team-header {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }
}
