/* SECTION WRAPPER */
.team-section {
  background: #111;
  padding: 40px 50px;
  border-radius: 20px;
  border: 2px solid #1b1b1b;
}

/* HEADER */
.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.team-header h2 {
  font-size: 32px;
  font-weight: 700;
}

/* ALL MEMBERS BUTTON */
.all-members-btn {
  background: none;
  border: 1px solid #333;
  color: #ccc;
  padding: 12px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  cursor: pointer;
}

.all-members-btn .arrow {
  font-size: 22px;
}

/* GRID */
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.team-card {
  background: #181818;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  border: 1px solid #222;
}

.name {
  font-size: 20px;
  margin-bottom: 6px;
}

.role {
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 20px;
}

/* IMAGE BOX */
/* .img-box {
  background: #f1c4b7;
  border-radius: 12px;
  padding: 20px 0;
  margin-bottom: 25px;
} */

.img-box img {
  width: 150px;
  height: auto;
  padding: 20px 0;
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.icon {
  width: 38px;
  height: 38px;
  border: 1px solid #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}