/* BANNER */
.top-banner {
    background: #d8876c;
    padding: 40px;
    margin: 25px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.top-banner p {
    width: 75%;
    color: #2c1c18;
}

.banner-btn {
    background: #000;
    color: #fff;
    padding: 14px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* SCROLL TEXT */
.scroll-text {
    background: #111;
    padding: 15px 0;
    text-align: center;
    color: #bbb;
    font-size: 14px;
    letter-spacing: 3px;
}

/* GRID LAYOUT */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
}

.card {
    background: #151515;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    border: 1px solid #222;
    height: 350px;
  
}

.social-card .icon-wrap {
    font-size: 30px;
    display: inline-block;
    margin-bottom: 15px;
}

.arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #222;
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 14px;
}

/* NAV CARD */
.nav-card {
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.nav-card .col h4 {
    margin-bottom: 12px;
    font-size: 16px;
}

.nav-card .col p {
    color: #ccc;
    margin-bottom: 8px;
}

.soon {
    background: #333;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 10px;
}

/* NEWSLETTER CARD */
.newsletter-card h4 {
    color: #aaa;
}

.newsletter-card h2 {
    margin: 12px 0 20px;
}

.newsletter-input {
    background: #222;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.newsletter-input input {
    flex: 1;
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
}

.newsletter-input button {
    background: #333;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* FOOTER */
.footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-card a {
    margin-left: 20px;
    color: #bbb;
    text-decoration: none;
}


.social-card {
    grid-column: span 1;
}


.nav-card {
    grid-column: span 2;
    grid-row: span 2;
}

.newsletter-card {
    grid-column: 3 / span 2;  
    grid-row: 3;              
    margin-top: -375px;
    height: 230px;
}
.footer-card {
    grid-column: 3 / span 2;
    grid-row: 4;
    height: 100px;
    margin-top: -150px;
}

@media (max-width: 768px) {
  .top-banner {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .banner-btn {
    width: 100%;
  }

}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .nav-card {
    flex-direction: column;
    gap: 24px;
  }
}

