.banner {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.banner-left {
    padding: 100px 80px 180px 80px;
    background-color: #1A1A1A;
    border-radius: 20px;
}
.banner-title {
    text-transform: uppercase;
    color: #F9EFEC;
    font-size: 78px;
    font-weight: 600;
    line-height: 150%;
}
.banner-image {
    width: 593px;
    height: 592px;
    border-radius: 20px;

    background-image: url('../image/Banner.png');
    background-size: cover;
    background-position: center;

    background-color: rgba(206, 125, 99, 0.8);

    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.CTA-button-2 {
    border-radius: 50%;
    background-color: #b81919;
}