* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto Flex", sans-serif;
}
.container {
    margin: 0 50px;
}
a {
    font-family: "Roboto Mono", monospace;
}
.section-header {
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: #1A1A1A;
}
.section-header h2 {
    color: #F9EFEC;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.arrow-top-right-icon {
    border-radius: 100px;
    border: 1px solid #333333;
    padding: 14px 16px;
    background-color: #1F1F1F;
}
.arrow-top-right-icon img {
    position: relative;
    top: 2px;
}
.text-aside-arrow {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #B3B3B2;
}
.vector {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content:left;
    align-self: end;
}
.vector-text {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}
.vector431 {
    border-radius: 100px;
    background-color: white;
    display: inline-block;
    width: 44px;
    height: 44px;
}
.vector431 img {
    position: relative;
    bottom: -15px;
    right: -13px;
}
.wrapper-right-header-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.arrow-top-right-icon-big {
    padding: 18px 20px;
}