.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.faq-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-item {
    display: flex;
    gap: 50px;
    padding: 60px;
    border-radius: 16px;
    background-color: #1A1A1A;
    justify-content: space-between;
    align-items: center;
}
.faq-item-text {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.faq-item-question p {
    font-weight: 500;
    font-size: 22px;
    color: #F9EFEC;
}
.faq-item-answer {
    border-top: 1px solid #262626;
}
.faq-item-answer p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B2;
    padding-top: 27px;
}
.faq-icon {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
}