.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    padding: 24px 24px 24px 50px;
    margin-top: 30px;
    border-radius: 16px;
    border: 1px solid #1C1C21;
}
.menu-item {
    list-style: none;
    padding: 18px 24px;
    border-radius: 12px;
    background-color: #0F0F0F;
}
.menu-item a {
    text-decoration: none;
    color: #81807E;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.menu-list .menu-item:nth-child(2) a {
    color: #E7BEB1;
}
.menu-list .menu-item:last-child {
    background-color: #CE7D63;
    border-radius: 12px;
}
.menu-list .menu-item:last-child a {
    color: #0F0F0F;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}