.marquee {
    display: flex;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 12px;
    gap: 10px;
    background-color: #1A1A1A;
}
.marquee-banner {
    display: flex;
    margin-top: 90px;
    padding: 20px 0;
    border-radius: 12px;
    gap: 10px;
    background-color: #0F0F0F;
    align-self: center;
    width: 1260px;
}
.marquee-content {
    display: flex;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.marquee-text {
    color: #676665;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    font-family: "Roboto Mono";
}