.success-left-header {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: space-between;
}
.success-left-icon {
    border-radius: 12px;
    border: 1px solid #333333;
    padding: 16px;
    background-color: #1F1F1F;
}
.success-left-text {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #F9EFEC;
}
.success-header{
    display: flex;
    justify-content: space-between;
}
.success-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.success-content .success-content-item:first-child{
    margin-top: 20px;
}
.success-content-item {
    border-radius: 20px;
    border: 2px solid #1F1F1F;
    padding: 50px;
    gap: 20px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-content-item-left {
    border-radius: 14px;
    padding: 74px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1A1A1A;
    width: 44%;
}
.success-meta {
    display: flex;
    align-items: center;
    gap: 12px;
}
.success-meta-tag  {
    border-radius: 45px;
    padding: 10px 16px;
    display: flex;
    gap: 8px;
    background-color: #1F1F1F;
}
.success-meta-tag span:first-child {
    font-size: 17px;
    font-weight: 400;
    color: #B3B3B2;
}
.success-meta-tag span:last-child {
    font-size: 17px;
    font-weight: 500;
    color: #E6E6E6;
}
.dot {
    color: #CE7D63;
}
.success-content-item-right {
    width: 56%;
}
.success-content-item-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.success-right-header {
    display: flex;
    align-items: center;
    gap: 12px;
}
.success-right-header-btn {
    border-radius: 12px;
    padding: 18px 24px;
    background-color: #1F1F1F;
    color: #B3B3B2;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.success-right-header-btn:nth-child(2) {
    background-color: #CE7D63;
    color: #0F0F0F;
}
.success-right-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: #1A1A1A;
    padding: 40px;
    border-radius: 14px;
}
.success-right-content-title {
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F9EFEC;
}
.success-right-content-description {
    line-height: 150%;
    font-size: 18px;
    color: #B3B3B2;
    font-weight: 400;
}